<!DOCTYPE html>
<html>
<head>
  <title>Pet.me</title>
  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Pet.me</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/animal">Animals</a></li>
        <li><a href="/animal/new">Add Animal</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    &copy; Pet.me
  </footer>
</body>
</html>
