<h2>Edit Animal</h2>

<form action='/animals/<%= "#{@animal.id}" %>' method="post">
  <label for="animal[name]">Name:</label>
  <input name="animal[name]" value='<%= "#{@animal.name}" %>'>

  <label for="animal[photo_url]">Photo URL:</label>
  <input name="animal[photo_url]" value='<%= "#{@animal.photo_url}" %>'>

  <label for="animal[eats]">Nationality:</label>
  <input name="animal[eats]" value='<%= "#{@animal.eats}" %>'>

  <input type="submit" value="Create">
</form>
