<h2>New Animal</h2>

<form action="/animals" method="post">
  <label for="animal[name]">Name:</label>
  <input name="animal[name]">

  <label for="animal[photo_url]">Photo URL:</label>
  <input name="animal[photo_url]">

  <label for="animal[eats]">Eats:</label>
  <input name="animal[eats]">

  <input type="submit" value="Create">
</form>
